.profile-pics {
    height: 50%;
    position: relative;
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    margin-left: -10px;
}

@media screen and (max-width: 700px) {
    .module{
        display: grid;
        column-gap: 0.5em;
    }
    .left_module{
        grid-template-columns: auto !important;
        grid-template-rows: auto auto auto auto !important;
    }
    .right_module {
        grid-template-columns: auto !important;
        grid-template-rows: auto auto auto auto !important;
    }
    .left_userpics{
        grid-area: 1 / 1 / 1 / 1 !important;
    }
    .left_text{
        grid-column: 1 !important;
        text-align: center !important;
    }
    .right_text{
        text-align: center !important;
    }
    .right_userpics{
        grid-area: 1 / 1 / 1 / 1 !important;
    }
}

.welcome_paragraph {
    border-radius: 0%;
}

@media only screen and (min-width: 1200px) {
    .outer_box {
        max-width: 100%;
    }
}

.outer_box {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;

    padding: 25px 10px;
    margin: auto;
    margin-top: 50px;
    text-align: center !important;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(236, 236, 236, 0.5);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    border-radius: calc(100vh * 0.02);
}

.module{
    display: grid;
    column-gap: 0.5em;
}
.left_module{
    grid-template-columns: 10em auto;
    grid-template-rows: 2em 1.5em auto;
}
.right_module{
    grid-template-columns: auto  10em;
    grid-template-rows: 2em 1.5em auto;
}
.left_userpics{
    grid-area: 1 / 1 / span 3 / 1;
    grid-row: 1 / span 3;
}
.left-title{
    grid-column: 2;
    text-align: left;
}

.left-para{
    text-align: justify;
}
.right-title{
    grid-column: 1;
    text-align: right;
}
.right-para{
    text-align: justify;
}

.right_userpics{
    grid-area: 1 / 2 / span 3 / 2;
}

.userpics{
    width: 70%;
    border-radius: 100%;
    border-style: solid;
    border-color: black;
}

.username{
    font-size: 150%;
    font-weight: 700;
}

.userid{
    font-size: 90%;
    font-weight: 600;
}

.userdesc{
    text-indent: 40px;
}
