.navbar.navbar-default {
    color: black;
}

html,
body {
    width: 100%;
    min-height: calc(100% - 60px);
    margin: 0;
    margin-top: 60px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 300;
}

.navbar-backgroud {
    background: rgba(251, 251, 253, .6);
    backdrop-filter: blur(15px) saturate(85px);
    -webkit-backdrop-filter: blur(15px) saturate(85px);

    -webkit-backdrop-filter: blur(15px) saturate(86%);
    backdrop-filter: blur(15px) saturate(86%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    block-size: 44px;
    min-block-size: 44px;
    display: flex;
    letter-spacing: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    min-inline-size: 100%;

}


.paragraph {
    margin: 20px 0px 0px 0px;
}

