.navbar.navbar-default {
    color: black;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 60px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 300;
}

.navbar-backgroud {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}


.paragraph {
    margin: 20px 0px 0px 0px;
}