@font-face {
  font-family: "SukumvitBold";
  src: url("../fonts/sukhumvitset-bold-webfont.woff2") format("woff2"),
    url("../fonts/sukhumvitset-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SukumvitLight";
  src: url("../fonts/sukhumvitset-light-webfont.woff2") format("woff2"),
    url("../fonts/sukhumvitset-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SukumvitMedium";
  src: url("../fonts/sukhumvitset-medium-webfont.woff2") format("woff2"),
    url("../fonts/sukhumvitset-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SukumvitSemiBold";
  src: url("../fonts/sukhumvitset-semibold-webfont.woff2") format("woff2"),
    url("../fonts/sukhumvitset-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sukumvit";
  src: url("../fonts/sukhumvitset-text-webfont.woff2") format("woff2"),
    url("../fonts/sukhumvitset-text-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SukumvitThin";
  src: url("../fonts/sukhumvitset-thin-webfont.woff2") format("woff2"),
    url("../fonts/sukhumvitset-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_thonburibold';
  src: url('../fonts/sfthonburi-bold-webfont.woff2') format('woff2'),
    url('../fonts/sfthonburi-bold-webfont.woff') format('woff'),
    url('../fonts/sfthonburi-bold-webfont.ttf') format('truetype'),
    url('../fonts/sfthonburi-bold-webfont.svg#sf_thonburibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_thonburiregular';
  src: url('../fonts/sfthonburi-regular-webfont.woff2') format('woff2'),
    url('../fonts/sfthonburi-regular-webfont.woff') format('woff'),
    url('../fonts/sfthonburi-regular-webfont.ttf') format('truetype'),
    url('../fonts/sfthonburi-regular-webfont.svg#sf_thonburiregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_thonburisemibold';
  src: url('../fonts/sfthonburi-semibold-webfont.woff2') format('woff2'),
    url('../fonts/sfthonburi-semibold-webfont.woff') format('woff'),
    url('../fonts/sfthonburi-semibold-webfont.ttf') format('truetype'),
    url('../fonts/sfthonburi-semibold-webfont.svg#sf_thonburisemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}