.navbar.navbar-default {
    color: black;
}

@media only screen and (min-width: 1200px) {
    .outer_box{
        max-width: 800px;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: "Roboto", sans-serif !important;
    font-weight: 300;
    overflow-y: auto;
}

.paragraph{
    margin: 20px 0px 0px 0px;
}


.outer_box {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.7);
    border-style: solid;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin:auto
}

.welcome_title {
    font-size: 30px;
    font-weight: 800;
}

.welcome_paragraph {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    text-indent: 40px;
}