.welcome_title {
    font-size: 80px;
    font-weight: 900;
    color: black;
}

.welcome-button {
    margin-top: 10px;
}

.welcome_outer {
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 25vh 10px;
    background-color: #f7fff9;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome_paragraph {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-indent: 50px
}

.welcome_image {
    margin: 20px 10px;
}


/* Two column */
.row {
    display: flex;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    width: 250px;
    height: min-content;
}

.right {
    width: fit-content;
}

.welcome-img {
    height: 500px;
    border-radius: 30px;
}

/*not responsive pls fix*/
.wide {
    width: 100%;
}

.wide-img {
    min-width: 100vw !important;
    height: 50vh;
    display: block;
    object-fit: cover;

}

@media only screen and (max-width: 950px) {

    .column {
        padding: 10px 0px;
        width: 100%;
    }

    .outer_box {
        width: 100%;
    }

    .welcome_paragraph {
        text-align: left;
        font-size: 15px;

    }

    .welcome_image {
        width: 100  ;
    }

    .welcome_title {
        font-size: 70px;
    }

}

.btn-primary {
    margin: 15px 0px 15px 0px !important;
    background-color: #005EB8 !important;
    font-size: medium !important;
    border-radius: 12px !important;
    box-shadow: none !important;
}

.outer_box {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;

    padding: 35px 30px;
    margin: auto;
    margin-top: 50px;
    text-align: center !important;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(236, 236, 236, 0.5);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    border-radius: calc(100vh * 0.02);
}

.about_box {
    padding: 10px 10%;
}

.ardy_account {
    margin: -10px 0px 0px 0px;
    box-shadow: none !important;
    font-size: 14px;
}

/* About */
.abt-title {
    color: black;
    font-weight: 900;
    font-size: 55px;
    margin: -10px 0px;
}

.abt-profile {
    padding: 20px 30px;
}

.abt-head {
    color: black !important;
}