.welcome_title {
  font-size: 80px;
  font-weight: 900;
  color: black;
}

.welcome-button {
  margin-top: 10px;
}

.welcome_outer {
  width: 100vw;
  background: rgb(41, 128, 185);
  background: linear-gradient(45deg,
      rgb(129, 219, 252) 0%,
      rgba(143, 225, 254, 1)50%,
      rgba(255, 255, 255, 1) 100%);
  animation: welcome-head 30s ease infinite;
  background-size: 400% 400%;
  height: calc(100vh - 60px);
  background-color: #aadeff;
  padding: auto;
  width: 100vw;
}

@keyframes welcome-head {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.welcome_paragraph {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-indent: 50px;
}

.sub-title {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgba(255, 255, 255, 0);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end 10;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: rgb(255, 255, 255);
  }
}

.welcome_image {
  margin: 20px 10px;
}

/* Two column */
.row {
  min-height: calc(100vh - 60px);
  display: flex;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  /*height: calc(100vh - 60px);*/
  width: fit-content;
  margin: auto 0px;
  padding-bottom: 10vh;
}

.right {
  width: 645px;
  height: auto;
  margin: auto 0px;
}

.devices-img {
  display: block;
  margin: 60px 0px 0px 0px;
  margin-left: 150px;
  width: 150%;
}

.devices-img {
  content: url("/static/images/home/devices_2.png");
}

.webp .devices-img {
  content: url("/static/images/home/devices_2.webp");
}

.avif .devices-img {
  content: url("/static/images/home/devices_2.avif");
}

.wide-img {
  content: url("/static/images/home/home01-WIDE.jpeg");
}

.webp .wide-img {
  content: url("/static/images/home/home01-WIDE.webp");
}

.avif .wide-img {
  content: url("/static/images/home/home01-WIDE.avif");
}

/* retina support */
@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .devices-img {
    content: url("/static/images/home/devices_2@2x.png");
  }

  .webp .devices-img {
    content: url("/static/images/home/devices_2@2x.webp");
  }

  .avif .devices-img {
    content: url("/static/images/home/devices_2@2x.avif");
  }

  .wide-img {
    content: url("/static/images/home/home01-WIDE@2x.jpeg");
  }

  .webp .wide-img {
    content: url("/static/images/home/home01-WIDE@2x.webp");
  }

  .avif .wide-img {
    content: url("/static/images/home/home01-WIDE@2x.avif");
  }

}

.info {
  margin: auto 0px;
}

.welcome-img {
  height: 500px;
  border-radius: 30px;
}

.flex-item-right,
.flex-item-left {
  flex: 50%;
  width: 50vh;
  margin: auto;
}

/******************* Part2 *******************/

.default-flex {
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  padding: 35px 0px;
}

.detail-title {
  font-size: 45px;
  font-weight: 400;
  color: black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  max-height: 100%;
}

.sec2-left {
  padding: 0px 7vw 60px 7vw;
}

.sec2-right {
  width: 50vw;
}

.note-ui {
  content: url("/static/images/home/train02.png");
  background-repeat: no-repeat;
  object-fit: cover;
  max-height: 90vh;
  z-index: 0;
}

/******************* Part3 *******************/

.section-3 {
  max-height: 100%
}

.sec3-img {
  content: url("/static/images/home/responsive-mobile.png");
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 360px;
  z-index: 0;
}

.sec3-title {
  padding-right: 8%;
}

/*not responsive pls fix*/
.wide {
  width: 100%;
}

.wide-img {
  width: 100%;
  height: 40vh;
  display: block;
  object-fit: cover;
}


@media only screen and (max-width: 990px) {
  .column {
    padding: 10px 0px;
    width: 100%;
  }

  .outer_box {
    width: 100%;
  }

  .welcome_paragraph {
    text-align: left;
    font-size: 15px;
  }

  .welcome_image {
    width: 100;
  }

  .welcome_title {
    font-size: 70px;
  }

  .left {
    padding-top: 40px;
    height: auto;
    flex: 100%;
  }

  .devices-img {
    width: 500px;
    margin: auto;
    object-fit: fill;
  }


  .flex-item-right,
  .flex-item-left {
    flex: 100%;
    width: 100vw;
  }

  /******************* Part2 *******************/

  .sec2-left {
    padding-bottom: 8px;
  }

  .default-flex {
    padding-top: 40px;
  }

  .detail-title {
    font-size: 24px;

  }

  .note-ui {
    padding: 0px;
    max-width: 90vw;
    margin: 0px auto;
  }

  /******************* Part3 *******************/

  .sec3-title {
    padding: 0%;
  }

  .flex-sec3 {
    flex-direction: column-reverse;
  }

  .sec3-img {
    margin-top: 20px;
    max-height: 80vh;
    max-width: 60vw;
  }



}

@media only screen and (max-width: 595px) {
  .welcome_outer {
    min-height: calc(100vh - 60px) !important;
  }

  .row {
    min-height: calc(60vh - 60px);
    padding-top: 50px !important;
  }
}

.btn-primary {
  background-color: #005eb8 !important;
  font-size: medium !important;
  border-radius: 12px !important;
  box-shadow: none !important;
}

.outer_box {
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;

  padding: 35px 30px;
  margin: auto;
  margin-top: 50px;
  text-align: center !important;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(236, 236, 236, 0.5);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  border-radius: calc(100vh * 0.02);
}

.ardy_account {
  box-shadow: none !important;
  font-size: 14px;
}

/* About */

@media only screen and (max-width: 700px) {
  .abt-profile {
    margin: 50px 30px;
  }
}

.about_box {
  padding: 10px 10%;
}

.abt-title {
  color: black;
  font-weight: 900;
  font-size: 55px;
  margin: -10px 0px;
}

.abt-profile {
  margin: 50px 30px;
}

.abt-head {
  color: black !important;
}

.abt-pics {
  width: 70%;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
}

/* ******************************* From about.css ******************************* */

.profile-pics {
  height: 50%;
  position: relative;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  margin-left: -10px;
}

@media screen and (max-width: 990px) {
  .module {
    display: grid;
    column-gap: 0.5em;
  }

  .left_module {
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto auto !important;
  }

  .right_module {
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto auto !important;
  }

  .left_userpics {
    grid-area: 1 / 1 / 1 / 1 !important;
  }

  .left-title {
    grid-column: 1 !important;
    text-align: center !important;
  }

  .right-title {
    text-align: center !important;
  }

  .right_userpics {
    grid-area: 1 / 1 / 1 / 1 !important;
  }

  .userpics {
    width: 55% !important;
  }

  .abt-head {
    margin-top: 30px !important;
  }
}

.welcome_paragraph {
  border-radius: 0%;
}

@media only screen and (min-width: 1200px) {
  .outer_box {
    max-width: 100%;
  }
}

.outer_box {
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;

  padding: 25px 10px;
  margin: auto;
  margin-top: 50px;
  text-align: center !important;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(236, 236, 236, 0.5);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  border-radius: calc(100vh * 0.02);
}

.module {
  display: grid;
  column-gap: 0.5em;
}

.left_module {
  grid-template-columns: 10em auto;
  grid-template-rows: 2em 1.5em auto;
}

.right_module {
  grid-template-columns: auto 10em;
  grid-template-rows: 2em 1.5em auto;
}

.left_userpics {
  grid-area: 1 / 1 / span 3 / 1;
  grid-row: 1 / span 3;
}

.left-title {
  grid-column: 2;
  text-align: left;
}

.left-para {
  text-align: justify;
}

.right-title {
  grid-column: 1;
  text-align: right;
}

.right-para {
  text-align: justify;
}

.right_userpics {
  grid-area: 1 / 2 / span 3 / 2;
}

.userpics {
  width: 90%;
  border-radius: 100%;
  border: rgba(0, 0, 0, 1) solid 1px;
}

.username {
  font-size: 150%;
  font-weight: 700;
}

.userid {
  font-size: 90%;
  font-weight: 600;
}

.userdesc {
  text-indent: 40px;
}