html,
body {
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

.img1 {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
}


.box_center {
  margin: auto;
  margin-top: 10px;
  width: 40%;
  height: auto;
  border: 0px solid green;
  padding: 10px;
  z-index: -1;
}
@media only screen and (min-width: 2048px) {
  .box_center {
    width: 800px;
  }
}


@media only screen and (max-width: 1200px) {
  .box_center {
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .box_center {
    width: 70%;
  }
}
		

@media only screen and (max-width: 650px) {
  .box_center {
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .box_center {
    width: 100%;
    border-radius: 10px;
    margin: 0 !important;
    padding: 0;
  }
  .login_blur_box {
    margin: 0;
    padding: 0;
  }
}
.e_title {
  display: inline-block;
  margin: 25px;
  font-size: 50px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Roboto" !important;
  font-weight: 700;
}
.login_blur_box {
  text-align: center !important;
  padding: 15px;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(236, 236, 236, 0.5);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  border-radius: calc(100vh * 0.025);
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.align-left {
  text-align: left;
}
.form-label {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
}