html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  overflow-y: auto;
}

.img1 {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
}

.box_center {
  margin: 0 auto;
  width: 40%;
  height: auto;
  border: 0px solid green;
  padding: 10px;
  z-index: -1;
}

@media only screen and (min-width: 2048px) {
  .box_center {
    width: 800px;
  }
}

@media only screen and (max-width: 1200px) {
  .box_center {
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .box_center {
    width: 70%;
  }
}

@media only screen and (max-width: 650px) {
  .box_center {
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .box_center {
    width: 100%;
    border-radius: 10px;
    margin: 0 !important;
    padding: 0;
  }

  .login_blur_box {
    margin: 0;
    padding: 0;
  }
}

.btn,
.btn-primary {
  margin: 15px 0px 15px 0px !important;
  background-color: #005EB8 !important;
  font-size: medium !important;
  border-radius: 12px !important;
}

.e_title {
  display: inline-block;
  margin: 25px;
  font-size: 50px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Roboto" !important;
  font-weight: 700;
}

.login_blur_box {
  margin-top: 10px;
  text-align: center !important;
  padding: 15px;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(236, 236, 236, 0.5);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  border-radius: calc(100vh * 0.025);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAACACAYAAAC7gW9qAAAAAXNSR0IArs4c6QAAHUZJREFUeF6F3YuOI8lxhWGOhIUNwYbe/zENCQsZgjxGBOvL/ZnLtQcYNJtkVWXG5cSJS1X/eL1er58/f/7n6/X65+v1+rf5+ePHj19//vz519fr9d+v1+tfr9frL/P6x48f/3i++6c57vV6/f31es3rfv7L6/X683z4fH9e+86vr9fr33/8+PG3nz9/7jGv12u+P9f81/Pe/8w6fvz48V/Pteb68z3nsL45bq7xz6x/3vpX3vvTnOfZ43zf/7nG7vfHs5ERwnw4H8y/FcQs9hHAL8+C5vc56Qior2eT850R0Gxsjv3Lc8ycd94bYfnOHDvfmX/zGYES+JzPGqxpBRqFjWD8W6G9Xq9fn82PkGctf34Eeytlrj//fvkxX7oWNl92ckKZBdYa5uD/eTRpM/OdWch/PN9dIWSjLGIFEs2M9c2/3ZyFPdodQc/65jxjPbPJWYd/c56xpjnHXj/WRcuznnnNkub6891V6gjAAmbBa1a0/rye9+fEI9Fxi1nISHZ+J0kCm99nI8dyHgFwA9eYn7MRwvrQ3rNRi55lcBWKqNWs1h/LWKuMJc9rlkbRFdg/RwBzspXWmMtzopHsbHRcY/35+VctzzH7neeiNjnvz/fm9znfvv+4wwjQ5gmbxcGC0TqNFjO4kuNp3/pWq4+wuA8LnDWNxmfzs4axxsGYv44A5iCatJm/B5Tm8/HfOelo/m8EQ2AR1H4nWpgN0NZocT4nONpnkvPdWeQCcEDwBlwbXrDLtec86yIXFlHIuueFS79ygZo/bdU3ZxNMcc01aA7xDyg9VgO1+SLrme+tRoI11eJoh2Ud0xureDQ4QhrknzXROLwZ97PW1fIjIBY1vzr3O9okHAGGg/CXGY+LFOW/+fluTri0YJq9LGUxINFlNjFrECaPYGFNcEeoW79+pDSKGUsdAYwg6oprRY91jTAA6kaB2cicpOB1NPQc1EjRsEbaa77QdRbyuND4mzA2wqEx/kiI9VUWVn+e9cMUr0dghOYz3GCU2HOKBFzSsWsBYu78XBO6/SQme0eK0fYQGEIEeoPM8z48oCkofpA6ZIkPzzW4BMEWKOuKCFK/P5vdSBXFzjFC+gH7tQqon/haQnN4AKEgGhfSC2lzujHDWYSFzk9sEvrWJ5cgXeGLiTPvA3zPedfy4uPz+3xnhHeuVfCOtTjnCg8GND4jHRvrHwEx5fn94wRPBAE+AA+tFstvV7HY+d4Ia4SwEegRMDcrgLIM56YcruVarO5YR7DIZ3PsG8jx6Jgif3EhmoTewhrfFqZOfH5ODoxwfr7d45gpZBZGV9BfuMhaVoBztf38Xr4i3BJOraOu8Wc8AFd3IJOc6xXEKmUJy5ywzGyOATIAi3ZFmNun57yQ27UtWu7xkTwFcKF7Wek59rEsmx6ByHEWEO8ogDGhuVwDah9tJqTwu7kWVulC856kaZjXCVsJqWOqWN368sXvRZTNWOOWCBwty0y5aBUHBFHqZZ0wQMaER1vAfOmEomSAaKaTdMHvk77ZnAUu8l+5hOgxm4IrTHhxp1jwmHiBrsAq9uP9sKJguP6e+M+tfxEFulkgWKr6WNI7TAbphRs8/NQHrkXPhvDw5hAjTG7SvAI/qAvNtde0E3opw/qa+NC60AtwfedEgSIjAlQAbOwvj19fT/FkTS7mi23BDcyMdjfhiqWcSPRYCwt6++pbgPDmMLmEum6eYGpVzWCPwhYEr6RitRIERh3RVomKDZwCyKOG5gmyv+XdwPEx7/lM+IMfDbPYHUCr2RPq4sdj2siVnwVaeCASrWBG0HgAn7g3X9c4pa9no0xrXEUIhODN9e8cXoT4wJc5Z+oLtLmbS1XnDr0F5U1vUz5TxVLDANBN9jYb3Pw42rAhi5iLtvLCV4GgeN8w1GPxBBtGfFhUw9upGqWuN9dTX6DVptbNByiAQkahSA9XPwCoJMYUu5FWVYaWbpEi5SZIuxcMMVlJpnhqcQW6m2socVk8/l9gY4mtGYxrKnPV51dYWeuJVqHb/+CGkiESnou2muNgixFjZ2P8GpeXCPVnrQQ1lS6PRlgb057rqPsJazBgo1LCaRMhbuVYVtb1zmtRhwI3F2gsLnfHzsqtR7uyP2buYsCoNHQ2NOcRUk9RJEWN4+/JQsXslrnkCSLBnHtDY8gRdwKq6PuuqQWVB3O2JFYUF6oausRT9YK1kpg94BwQurMym9+QeRUrR5sjzIY7C5+N4xjCo4IHCxXXRRL4UCGU0nOtCd16Ca+7Knz78M3K5oQrnIbO1A8XYFILmHxBaXvN8Qs+zEZ20UnIWNoJwSl2crnScwKen8r0BFaLbM6zONGiaMNDiRBfg+IswMb4lZgsqbF5QttyF7NVD3y0UbOWWzSHaOm+OCVCLLUGVE9kayRAiFqXXItsRWj99WpnLRmh7cdvzoZSHKGNbvZOg7nSnFMTZF7TUM2e9oCkYyihBVdCsP6DUSnzI29t4izOnL5ACo6LvlfPTYJDkpv+Jg8X65czPKaOugIyYApfmK0MkeZnk7570PrqNlH2nPuwyStHUP+TLDnmWMq4Jwxo7Q260uahsKmrtWSl2nNQ9rGk1golUR+NzasfcUBKyTyRAldAyO4O1awBxgwYC38U9tEwfRS0JXNMELtbE0mujo+vMNrVTdV3gU9zMtqbY0+1OEkTdGcBLOTwioDoBwF6OAqaDQzhFfBdYVw9gcWlgvPJLB9pMduRHkq74SeuURIhNB0JPxrYdPhL48Jme47l5sny7jLW6UdeTFOej6dA/hGsirBw3lZ82SEXOy7QCMBHEBTtKqFqTHtROYu/ydAK4QFNPOOEKBb2WIUkhQDukjpMcL3ylrLQVqMK6Ki+KNT6wPYFRuPVDKRtx/d3xOcx7xN+0tAESrCDFqTGXAbnMBghaRE9zvXbYXqQjI/T9F2YaQv9o5h7sc2lwlvy/oPk4c7P+bQ6HBKjeXq4wB+EyJa6dvEnKXl3aw02IEDY3ey7OUE1j222v2AdLYJ2WoQytj3O5+9aXzdH4jbOSs4oy5UpSoL23BmkQGNlY87LfE+WBqmTq7SmR/OAr4xxzf/qUM97LfcDzjMfALFHCCUd+IAwI1q4iAzL9AhtKELWglq+XkaWzE6esPw+swRMeQRPAELhYkMSIVUeLblvmeCsq277lxZFMTUHzu9K0qiqeC7sMTtpqFi8UxgphKKlHxMh4QFNfREYKS7t7VrCRoFjCzQ9Dwwp0RK94MJJh8+BMdfWz9rZxfG3IKGwGeZ4GqRpXnAZpsefl/ImPq8Srmk0i65CFEPWQhNtFHVb0HH8ea99h9+lw9Hau2z8WzYnQ1sASUV3zf6a6NAgrYUASrU6fi+tnetZLEG1kqzlTXgEPfvf150fSE8DUy0Isoo/cYE115gXgjNviZs0L7FQ0VmSkypy+cJo3gKQoQ2DUugIGJdYML4sqmN6ABZvgDPeh08tkyF1v3PNuzmqIbFSvnr/JF1g7MXEYpxiAScjaTR46glhoUDTNeY7rr8Vqys5szlYxHJaje7x7VFQ6u6jydB8oDCKbdnAzQpb09/M8GqSGFj8lse3ogvddX0UTFSWDpCFdRakT1EkFtg+RyfChEoC2NxDQeQhWKuxre39H6Or0FlOLgS+8+tMhujvhRQt+l6JVIUsAz0JjqnT9BAJAM6wnrOuFFlYo0TrXQT5beT38AAmNCc/4ebBhM4Ro6+SpiJsEyNuoueg3HUasMZjG/OvmsSpCVw5QylzszyCwQ/ai/wt7D0l/uf6v5YH3FOeeEHD1KL9FXZYT2sEsIRPFg9cRxVZrtDxN0jPxA8oP9ajkq3GN2toCa5ptCrQKYSEVu98wIaENCRJftH6kdRiQlrkbT0TQIEM01MVGlNsjo5YHWJy+7CeZZI1ZMr14BQOI2utlR3gfgB5jlnuQomSIVRUaasZ4UozcX6OVSJ38UVt8z4duVUnuN5DWOaYamaBOK3145KZZptj1BL5/RvQ3uZ9ADxld8IRlin2v9sZYk7twLRoSVtob5sO9cuO2Tb2L8CF/5/aYEiVWA4Y8fsdfY+lnpJYBC9TrXBL0RdYmw4riyuDyctbchIy+HTjcwsQMsp2chEgAFiQalsLzVZ+o+FvrTHhlZZdt1YpBRbRKK5c4BRxucAuMuDGzxoey8Aa55EUufxdoKStu0vUyFMi01oDbrKEKzQdqB6z/zLRiqlKrqz5WLX5gNYDOpBUDQh/Zu0XAyQVSS6auKwmvgxfNDKINFJwVkWjqkOH1YWyNxlDz2WITL/ESmqtCLuWBgOYFHRvHj6Lgayt6AIv4Uy1R9iZxcCJ1g0sbhaAeSJA81PTBHm5w3FrjGe8/jHV9gmdq7jiXKeRc4/I2CiAWr/MSIv3+TOBzO+SJmknrZnaAJRNevj9gmUY3F03WCX0hofcBsM9uDDTN7CFQ8hscYjlI50V3gXGZPF9i2lN4Nx4cNHODVtpdxGUfuHGYUlS0B9gniLnNZMM2Teu32N4QXaYcRKzP5hWc711gYOkqGhI0ckNHhPbxCctsYZM/sca7tvvTkKVeWNWc4SSz7jIuKNzdkxWfZFAZh/rdhVsBHC3+1Y5Jxn6gy4tcrOLv3L+Jhg3kZrPGkL18Fp4PXRXXvAcA3/k8Huv4jU9+v9FhZOtdgbhS4nuTItLUTvGMrzgTmaklEy54RKQqc6gwR1X6dwv35yNsoT6/qkGhZIf8vQoZAYd9DWKT0Lfudnzih6A9twvMIs/VddnV6WofJmmITyEZSHu5dGGAqqoteOU284GrvZXQXbL2Vep7h6OAKZ7nXtkJjTcelSo95aZgh1uLdTYoDh9UtT73p74LrRnJU2oRkv6+buY+KgQRcgigzEaIU8itcwuQ9vzfeeGXaNE1n2Tu7cbPWUp7OjUzWNaTWUrmMMSL/Nq9wiHQGwWzQOyPpcU0ZDMb4QJAGv+FIHd3a7KvTYLzSAnpRyLbTLUig5EHd+0IRydGdcdVlvXNFitBT5gl4chzoG55wjwnXsTozZkSqXZRx3ROV//crcL/g8f3vcyPwvYEHbN8LdLBLGxuE6T9jO+eDIy2Z9CynM9luSazPqMvV13tB8+706S5/N5/4zgXQNZt2Ba4sdADw9oRlZz9NomTwE0d16Iu02dscETvzMmx1Lum6U6xWHDMrsqpyFXlgp3PpSRrnLfB4CbP2xVOF/kk1JHZtxnBwCaBS1ST6FTQoSKCmcigSEG/o3o9JaZzd1z07QNFhNad2jIbJF1awi9h/maVfwYkWli0f46Tl+OzbxugMH2CEHZu2M3qkdnYCHVJuVxIbiVnGKK4shwjQ3haelZ080UZYynVI4J8r9SylNnu2+a+tKgnM0qdM45LRRTBKI+qz/ft85qvzXanFD8xaTVHjVNOw1yymTBOVzHdU863Hoac7vzfQkEH+Lz2+YCv3nGQG9nO8fmBsaep+n4XvdZ9Lc8n3Wh23ttNP05TvN0Y31KYS2lLe6dCZHw8U5kb/PhKoULeciG8FIGtsL5kpSwDsLZBSUD3WgUIX308oMJiw+9tabVoqshUyFuzYJwV3CX5jroIO7OV5ri6srK4BREuuH7QSmbD1xjasBqK0TXUMRdJzyjN7mvuG7KTT6edNGUum38WMneMqOWp5IznwMQ2qblFiUOoeid4teoTKs6OIKfBdozUGW0pYNRobultkpr8oRT6EjmaP3z8065l96bD8DXlbUAIylXAxKOZov3vMAa1tVd1kuQ/RUDJD/f7kbdJkY0b1OI2seQd/p+rEhxRISa48+YzWLAl4pKG54nJPVZQgGqmwAtP7j4t3J5p7/uCRQc5Ft67JytK9SFdlOPoMwLCLeGo+ZjEQk3WBA8zc8IoiClCiP2ToFiCUkKJAjHnvgai7XQ06O7ZoA/qkzXTRS0VtxZzMk5Tv3yovL3VNg9wbpWe3qDj/RWc+nSYmRrdimO3t2fVodkYvwO09tzha83lT3DVx+t6996FQS8M0W5V3DvJn/+CY/cmfDWvaKsVq3PpCgzF9pa9x+Jd1Onq5J7cWWK7RATinz8DTqfD0Dh38Jfa4TMfn4SIowA3IfdKahcdU3WbX/NKfa87QsoE0kwMDwbpnWf376/QrhK16utILqQaUgCt2/zFR1uo5aATxfqQXX1g6bIZoek8rPRFkjmXNaxD1DYVlarp3kE1sbVxM09aeZ1JEZNbGjORorsChT89rC5uFddxmIBY1ldw7a6oyzUGmZdvTul53uTqeuhaGZ6TnPj8a8SE1nbtpguClrKW5Q+/YA/qDkcNpnszWLb7TFBtg9iSKdZ1aqZX2uavVeAst6hGoLkiS8tW21v7mJw4rD0Fompz59x+cd6Nkm5EH4+Kjeg5Q/QyvpofF3qOe9mgqHxfXxPwx6L2CGOhnBhUHytv85BWJvmCZD6CHdplJympMmSux+fO7r4phB35+2dQBfSZH+TBm/ZLqwPS0Sq9DlHMaIM0FWx+niO0CkVP1L/XbKTkHNmATVUvtzmMhptf9BCZoFISvMNaF8/Pr6f2aDeu8DHC8g2Ke4jX+uyD0E7pTtRYJHzCiEaDkypRdMONIkWu+EIaV7eT6EQq1s42fpcwqPz7UYINmN7G5IvN1hXvYY7WRbzx2nWDc6UWu70QH8LZB0qqATvmRubh+prIZKYJEjMHqHB52nt9u9jqo9gD44kasxHd0P28JqA7qkFPudaJcAAxcdvT3pkAQQjvgI9m74fd1MqCjgVVXfBX4oYqrwd1BBqme2cS2WnYfVY12XJWKSotfc4o+t4QH1S2tgJ8N1AKDKgqcmrJPGzAmILnITBok6b7EH2U2lKU8Q5rWNaatbw7vO/Gea8N0I2Rbqc4o8St+YCs5g5cIEqRMdi5+e3J70Wuec167AIkIB5VTh8vTTca2xTzs8Kad95W732Wtg2mLEKDYb0Nptzw0QvoHXVm6n6bA5+PD8RGOZXMy33F8OL8L0vuNleN6C0PtdSTjvnfSzGDVB77S/NkY8K9zV/8HHb3EloEhFKNNobWCuhhicmz++ys3nN/DyMVRb3cR9RmpeY42zkoy/RgQyls6uGIVnjVhR6/D91TQ+OeqcAcvvEx9LSOdFpI3152ishqOp200pUvVVuv5cSF/THJi3Y+0IY99pQ9wjeuvr8QxwDHjVzRcfLYP9eKgwD9mIpUgozNimeHt7wCObcy6tGeCVYwK0dIwL+qPVd1JsJw5vfUeUrlCNHLAoeleXKB963z1/hqB0U0p4DIOsJe+4efWK+W2pLSTHGxYjOAnwZt7Hw+bl+Hk1/pOIhTS10nBsiUoukrALfvCe52/mA++ECpLO8/2ozn1T4GpLcY1IKO3M+SYBogjmvr6O4IUsbkkN9P5KkazxuwfEKcxuxUkQhBEpY99JdvjGg/mETyMsc12kLyA/c+JvC431jVCc7T30xsV+IFDLbS2jiU2IDIwqwLJTPi1pb6lewAYrqAUCoAIMD2CiBNG/ADpsPqPaisXthESO3xkH6D8r8CKSzRdt/uEpefRCblH2fgRjqK5osdoQofZTqMEE+p8k5vxNGQ4t9iPcu0vKV9850mEVd1eKCopzg1O6u+5YoQ4YaeZ65IO9V8HCnLqrosylyGyNM5khOhfaa0btz6obNE5o8tPQRpDodgGTmdyhjKXc/khV+hLCApByiDFGGyLqV2g4AumtMx7R1fu/xMSVxACne9oKYoXBJEx18qLBuy+oCvyU78/1mnefW+9QXbHbXnVAOl0q/t9tVDFCoFPIkG1tZyRxf0+K7H7B+fYW4FloKUH0CRQnL7U5Fca56IspjpfM+qyqpou3iV0HxlMVrouLwiaHXX3uYk5bbQ+9T4b2e5uTiJ9G5hh75dwHVnL8HMLMOmtzcoU2Uzh18Gfgi1Ibit2I9QSLmNQsCYB1dXX6frArdbPoqH+CzlbbKbafP+anvixg6z7JLvl8hdahKCZ4yarXyGdbQfezD1Dopqm53x9ImKny9m+M+Ksr+iMpczLksThbo97JMACsancbH1Wmuy5TZzWtCqksvdlzDEWuZMKCLATR9zPWpq/fWWB2XmPReNOHOuTpXQCAW5YkPK5jc+gaDhOO6GDDWM0DWWA5rA+LOJVocio8JroavO0POZNc1j9tbWoQxJsqEaaKpr+LGfNa6wR6bJseaaG7Y7Gak2/teBra4YWuShLHJ17W3jV6jODXB+44ORKhkCOjMgn9nZhl1w+/N77KCueaZ0no2qXZvsQ2FlOLRuzcF5oLrkhdTFKZPP+GaRodVZ1xe42NO9u1ZgbqsaGWfMdqKzFhAG5VzoS23pSCh3N7G6RYnEs8dR2hv1vZ+1I7vVgDzmhIlQnWLukJv5P6nWeGaEMJBKC04tmDxRxFCTF7ruUwbcQJ8SmTSZsDlOhsiE+vn+wuMlzCAJ1+XtPm5bnf1Jd+W80iUNBsqmKsa4f1woz6zg6toZBzGmNKVmp3qrU0qyXdwGi+Z87RdDltuQBRGTxU4f6arzwvYFL93uH3jASrEHWZusiTsdBTOghoi5zXgO42P8I3SXWX5zUcSCWxMOG3jROWYedvoulJbaclLPlJ2ZXHD0n3K/Jz03T/P0xYyPge0OrBQ8sONRnBr5nGFPvmB5Wl7H0tqper6kzprFVdRVv5xC6URYNbSMf8N/SwAUpOeQSjh6hCTDCUfJE1rSgKyC7mGHlBeGmPOAE8m2MFq/OR3I3XBhZOEpXqMzVLUWuNV3Xp3p/Io3Joemos7fzRP5QYdhU2p6s2wfntk7k2VOyh1IsT15/c6c3CA8xrCRKO/Pd2Sn7Mwyuq9jO8wm/sFmGvBCKqWYwMvww0ffP2aJmeSBSkYI7GheRWiptEdgz8AdllWgW2OrZlvAeURHBeATW+3S1/AJs8dljF3jc8zl0PDKrSPNXSQYjbt+y253Tc8cw1ZIwGdeN2xvQhYDqOaRCGHqV4TKUIul3u7ewYlpatYHvNZOhs67ESqOwCzk14iBaGekPrY84bboH2jAELD9E+FN0A6n7Eg3zuhPBbSeiLC1j7D79rjRVGcfdnh/TcEr6Tl2+0rUmfnlFEegtUnSs9Fwklg0PKJ0GzmfgodGdQ+QHf9pckF3VjohkLrlw12oMDjcIFL/5IEPiDt9WwPyE5QKHF7hWJ5p0ZY0SZR0TAGVy5S9ghYJU4FTWxRdJhzab7CIla1UaDP6hrzp6lq4WPjaZWjvSfrSyos3ne0tXM79clvw04fpKpjutef8tp1XpYgTVa+k2R9aN8TJLbp0DL0l7bVXWcr11Y9ItXW9Ko1Pqr6zCJOmLuar6utL4PXan8roC/PGWhXqI8Ea5H03AnDAiwCg2vjEwbMzwOQ4fgFs1JfBVMAh5yUnan4YIAyvj4paoAMiDJvSC550oH+oz8As6G25OkMXwV8btPvhu/koyWwZXRX7+CMqFw3MBytPtftU+lOppd7DSRiI3g1imaOIxyuRDmiA7dSlyBICt0w3UHJux7Xzs2YMuuY1xaz9YEUSz/GUmLS/FlG6A+rdhzHZgAqwiKvXyUgNVcH+BRLOxWW+CiiYYS//X3i/IWHlrp6l8WHuV3E5y5OtKUNeGYdZ3D6WdQ3s56P5CSuXw33FhzJU/9C9rx3ZhSuxwK2HVYm++cWRAis7S2LWgCLdCUyjmF2wHEu4r2D9tewY4uno92D5ElqoLgohDYLt4qcJ+m5hjK+VZVZwUmG7j9PveZ+VVw+fPrx3zMCg9A80oDC6n0VYgcalMBiqe+/CJ3yWPONFa7SWjBkE58QnZMuX39U2rqsZznKRzaYlUiLTWWfmkGaJi2cnM7S5SI7aaZrEzrdlpUI4Bwnc3uOlZCdylFmflmCTS0mJYwz955jrQmv6KywmH2e8JB5QbHdZmqC6zLXoOKY5GF2X4qZ+3lmi8oFDiv15jVlsoB2TYWIQgqu/YMtCjvO64EN7/dTO5O4EMRNfprQkKhUWBr60Y25CNXdVhN25e5wo35/3CfhdLHlupMFWG6eIYsNtaa429p++V8Zk+3NUMAwuAAAAABJRU5ErkJggg==");
}

.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}

.align-left {
  text-align: left;
}

.form-label {
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
}

.account {
  margin-top: 10px;
  font-weight: 300;
  font-size: 13px;
}

.swal2-popup {
  background: rgba(255, 255, 255, 0.63) !important;
  backdrop-filter: blur(80px) !important; 
  -webkit-backdrop-filter: blur(80px) !important;
  border-radius: calc(100vh * 0.025) !important;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25) !important;
  font-family: "Roboto", sans-serif !important;
  color: black !important;
}

.swal2-success-circular-line-left {
  background-color: rgba(255, 255, 255, 0.0) !important;
  backdrop-filter: blur(80px) !important; 
  -webkit-backdrop-filter: blur(80px) !important;
}

.swal2-success-circular-line-right {
  background-color: rgba(255, 255, 255, 0.0) !important;
  backdrop-filter: blur(80px) !important; 
  -webkit-backdrop-filter: blur(80px) !important;
}

.home-icon {
  float: left;
  margin-right: -45px;
  margin-left: 25px;
  margin-top: 20px;
  font-size: larger;
}