body {
  margin: 0;
  margin-top: 60px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  overflow-x: hidden !important;
}

.note-container {
  height: 120%;
  padding: 20px 0px;
  overflow: hidden;
}

.inner-body{
  z-index: 10;
}

.body-bg {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 60px 0px 0px 0px;
  height: calc(100vh - 60px);
  width: 100vw;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.containter-box {
  margin-top: 20px;
  text-align: center !important;
  padding: 15px;

  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(15px) saturate(86%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  backdrop-filter: blur(15px) saturate(86%);
  border-radius: 10px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

.row{
  margin:-10px 0px;
}

blockquote {
  background-color: #e2e2e2;
  padding: 15px;
}

.btn-primary {
  margin: 0px 0px 10px 0px !important;
  background-color: #005eb8 !important;
  font-size: medium !important;
  border-radius: 12px !important;
}

input {
  background-color: white !important;
}

textarea {
  background-color: white !important;
}

#rendered_text,
.EasyMDEContainer,
#rendered_text h4,
#rendered_text h5,
#rendered_text h6 {
  font-family: "sf_thonburiregular", Arial, Helvetica, sans-serif;
}

#rendered_text h1,
#rendered_text h2,
#rendered_text h3,
#rendered_text strong {
  font-family: "sf_thonburibold", Arial, Helvetica, sans-serif !important;
}

#rendered_text b {
  font-family: "sf_thonburisemibold", Arial, Helvetica, sans-serif !important;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
  display: block;
}

.content-head {
  width: 100%;
}

.first-row {
  height: 100% !important;
}

.first-row-left {
  margin: auto;
  height: 100%;
}

.first-row-pics {
  margin: auto;
}

.first-row-details {
  margin: auto;
}

.second-row {
  margin-top: 15px;
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

.blink-me {
  -webkit-animation: blinker 0.6s 2;
  -moz-animation: blinker 0.6s 2;
  animation: blinker 0.6s 2;
}

.blur-effect {
  background: rgba(251, 251, 253, .6);
  backdrop-filter: blur(15px) saturate(85px);
  -webkit-backdrop-filter: blur(15px) saturate(85px);

  -webkit-backdrop-filter: blur(15px) saturate(86%);
  backdrop-filter: blur(15px) saturate(86%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.user-detail {
  font-size: medium !important;
}

#rendered_text img {
  width: 100%;
}

#rendered_text table {
  border-collapse: collapse;

}

#rendered_text table,
th,
td,
tr {
  border: 1px solid !important;
}

@media only screen and (min-width: 2048px) {
  .profile_img {
    width: 100px !important;
  }
}

@media only screen and (max-width: 2047px) {
  .profile_img {
    width: 100px !important;
  }

}

@media only screen and (max-width: 1100px) {
  .user-detail {
    font-size: calc(0.7rem + .6vw) !important;
    word-wrap: break-word;
  }
}


@media only screen and (max-width: 767px) {
  .profile_img {
    width: 120px !important;
  }
}

@media only screen and (max-width: 575px) {
  .create-note {
    margin-top: 20px !important;
  }

  .containter-box {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
}

.create-note {
  margin-top: 0px;
}

.create-button {
  padding: 0 !important;
  box-shadow: 0px 4px 18px rgb(0 0 0 / 10%);
  border-radius: 10px;
  transition: all .15s ease-out;
}

.create-button:hover {
  background-color: rgba(255, 255, 255, 0.35) !important;
  box-shadow: 0px 4px 18px rgb(0 0 0 / 20%) !important;
  transform: scale(1.05);
}