body {
  width: 100%;
  min-height: calc(100% - 60px);
  margin: 0;
  margin-top: 60px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
}

.body-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;  
    background-size: cover;
  }

.containter-box {
  margin-top: 20px;
  text-align: center !important;
  padding: 15px;

  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(15px) saturate(86%);
  backdrop-filter: blur(15px) saturate(86%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  border-radius: 10px;
  opacity: 1;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

blockquote {
  background-color: #e2e2e2;
  padding: 15px;
}

.btn-primary {
  margin: 0px 0px 10px 0px !important;
  background-color: #005eb8 !important;
  font-size: medium !important;
  border-radius: 12px !important;
}

input {
  background-color: white !important;
}

textarea {
  background-color: white !important;
}

#rendered_text {
    font-family: 'sf_thonburiregular' ,Arial, Helvetica, sans-serif;
}

#rendered_text h1 {
    font-family: 'sf_thonburibold' ,Arial, Helvetica, sans-serif !important;
}
#rendered_text h2 {
    font-family: 'sf_thonburibold' ,Arial, Helvetica, sans-serif !important;
}
#rendered_text h3 {
    font-family: 'sf_thonburibold' ,Arial, Helvetica, sans-serif !important;
}
#rendered_text h4 {
    font-family: 'sf_thonburibold' ,Arial, Helvetica, sans-serif !important;
}
#rendered_text h5 {
    font-family: 'sf_thonburibold' ,Arial, Helvetica, sans-serif !important;
}
#rendered_text h6 {
    font-family: 'sf_thonburibold' ,Arial, Helvetica, sans-serif !important;
}
#rendered_text b {
    font-family: 'sf_thonburisemibold' ,Arial, Helvetica, sans-serif !important;
}
#rendered_text strong {
    font-family: 'sf_thonburibold' ,Arial, Helvetica, sans-serif !important;
}

.EasyMDEContainer {
    font-family: 'sf_thonburiregular' ,Arial, Helvetica, sans-serif;
}