{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block form %}

<link rel="stylesheet" href="../static/stylesheets/about.css" />
<div class="outer_box">
    <div class="welcome_title" id="About">
      About us!
    </div>
    <div class="left_module">
      <div class="left_userpics">
        <img class="" src="https://ejudge.it.kmitl.ac.th/assets/img/avatar280.png">
      </div>
      <div class="left_username"> name </div>
      <div class="left_userid"> 65070069 </div>
      <div class="left_userdesc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
      </div>
    </div>
    <div class="right_module">
      <div class="right_username"> name </div>
      <div class="right_userid"> 65070069 </div>
      <div class="right_userdesc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
      </div>
      <div class="right_userpics">
        <img class="" src="https://ejudge.it.kmitl.ac.th/assets/img/avatar280.png">
      </div>
    </div>
    <div class="left_module">
      <div class="left_userpics">
        <img class="" src="https://ejudge.it.kmitl.ac.th/assets/img/avatar280.png">
      </div>
      <div class="left_username"> name </div>
      <div class="left_userid"> 65070069 </div>
      <div class="left_userdesc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
      </div>
    </div>
    <div class="right_module">
      <div class="right_username"> name </div>
      <div class="right_userid"> 65070069 </div>
      <div class="right_userdesc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
      </div>
      <div class="right_userpics">
        <img class="" src="https://ejudge.it.kmitl.ac.th/assets/img/avatar280.png">
      </div>
    </div>
  </div>


{% endblock %}
