{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block form %}

<link rel="stylesheet" href="../static/stylesheets/about.css" />
<div class="row outer_box">
    <div class="column left_pics">
        <img class="profile-pics" src="https://ejudge.it.kmitl.ac.th/assets/img/avatar280.png">
    </div>
    <div class="column right_paragraph">
        <div class="name_title titlename">
            Mr. Lorem Ipsum
        </div>
        <div class="name_title titleid">
            65070069
        </div>

        <p class="text_paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
</div>


{% endblock %}