{% extends "base.j2" %}
{% block title %}About{% endblock %}
{% block form %}

<link rel="stylesheet" href="../static/stylesheets/about.css" />
<div class="outer_box">
  <div class="welcome_title" id="About">
    About us!
  </div>
  <div class="left_module module">
    <div class="left_userpics">
      <img class="userpics" src="https://ejudge.it.kmitl.ac.th/assets/img/avatar280.png">
    </div>
    <div class="username left_text">Name</div>
    <div class="userid left_text"> 65070069 </div>
    <div class="userdesc left_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
    </div>
  </div>
  <div class="right_module module">
    <div class="right_userpics">
      <img class="userpics" src="https://ejudge.it.kmitl.ac.th/assets/img/avatar280.png">
    </div>
    <div class="username right_text">Name</div>
    <div class="userid right_text"> 65070069 </div>
    <div class="userdesc  right_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
    </div>
  </div>
  <div class="left_module module">
    <div class="left_userpics">
      <img class="userpics" src="https://ejudge.it.kmitl.ac.th/assets/img/avatar280.png">
    </div>
    <div class="username left_text">Name</div>
    <div class="userid left_text"> 65070069 </div>
    <div class="userdesc left_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
    </div>
  </div>
  <div class="right_module module">
    <div class="right_userpics">
      <img class="userpics" src="https://ejudge.it.kmitl.ac.th/assets/img/avatar280.png">
    </div>
    <div class="username right_text">Name</div>
    <div class="userid right_text"> 65070069 </div>
    <div class="userdesc  right_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
    </div>
  </div>
</div>


{% endblock %}