{% extends "base.j2" %}
{% block title %}Welcome to &lt;e&gt;Note{% endblock %}
{% block form %}
<link rel="stylesheet" href="/static/stylesheets/home.css" />
<div class="welcome_outer">
  <div class="row">
    <div class="left">
      <div class="left-text">
        <div class="welcome_title">
          &lt;e&gt;Note
        </div>

        <div class="sub-title">
          It's more than a note, it's a personal diary.
        </div>
        <div class="welcome-button">
          <div class="mt-4 mb-1">
            <a class="btn btn-primary" href="/register">Get Started</a>
          </div>
          <a class="btn ardy_account" href="/login">Login</a>
        </div>
      </div>
    </div>
    <div class="right">
      <img alt="Picture depicting multiple devices with various screen sizes" loading="lazy" class="devices-img">
    </div>
  </div>
</div>

<div style="background-color: white;">
  <!-- Section 2 -->
  <div class="default-flex" style="padding-top:50px">
    <div class="flex-container">
      <div class="flex-item-left sec2-left">
        <div class="detail-title">
          Create and Customize your note in your favorite style!
        </div>
      </div>
      <div class="flex-item-right sec2-right ">
        <img alt="All apple devices" loading="lazy" class="sec2-img detail-img">
      </div>
    </div>
  </div>

  <!-- Section 3 -->
  <div class="default-flex">
    <div class="flex-container flex-sec3">
      <div class="flex-item-left">
        <img alt="Note Login UI" loading="lazy" class="sec3-img detail-img">
      </div>
      <div class="flex-item-right">
        <div class="detail-title sec3-title">
          Support every device that you have ever imagined!
        </div>
      </div>
    </div>
  </div>

  <!-- Section 4 -->
  <div class="default-flex" style="padding-top:50px">
    <div class="flex-container">
      <div class="flex-item-left sec4-left">
        <div class="detail-title">
          Access from every devices and everywhere!
        </div>
      </div>
      <div class="flex-item-right sec4-right ">
        <img alt="Iphone 14 Pro and iMac" loading="lazy" class="sec4-img detail-img">
      </div>
    </div>
  </div>


</div>

<!-- About Us-->
<div class="about_box" style="padding-top: 100px;" id="About">
  <div class="abt-title">
    About us!
  </div>
  <div class="left_module module abt-profile">
    <div class="left_userpics">
      <img class="userpics" alt="User1" loading="lazy"
        src="https://ejudge.it.kmitl.ac.th/uploads/4637_1660843697_FPIv4Ncl.jpg">
    </div>
    <div class="username left-title abt-head">Kongphop Sinsung </div>
    <div class="userid left-title"> 65070015 </div>
    <div class="userdesc left-para">
      Designer, Tester

    </div>
  </div>
  <div class="right_module module abt-profile">
    <div class="right_userpics">
      <img class="userpics" alt="User2" loading="lazy"
        src="https://ejudge.it.kmitl.ac.th/uploads/4501_1660849283_1ZFoyjC2.png">
    </div>
    <div class="username right-title abt-head">Jarukrit Sripaploen</div>
    <div class="userid right-title"> 65070030 </div>
    <div class="userdesc right-para">
      Lead Backend Developer, Frontend Developer, QA
    </div>
  </div>
  <div class="left_module module abt-profile">
    <div class="left_userpics">
      <img class="userpics" alt="User3" loading="lazy"
        src="https://ejudge.it.kmitl.ac.th/uploads/4499_1669083496_bxpqYeFn.jpg">
    </div>
    <div class="username left-title abt-head">Napat Wetchapun</div>
    <div class="userid left-title"> 65070064 </div>
    <div class="userdesc left-para">
      Lead Frontend Designer, Frontend Developer Assistant

    </div>
  </div>
  <div class="right_module module abt-profile">
    <div class="right_userpics">
      <img class="userpics" alt="User3" loading="lazy"
        src="https://ejudge.it.kmitl.ac.th/uploads/4496_1669298596_quarROtZ.jpg">
    </div>
    <div class="username right-title abt-head">Tanakrit Supprasit</div>
    <div class="userid right-title"> 65070089 </div>
    <div class="userdesc  right-para">
      Lead Frontend Developer, Frontend Designer, Backend Developer Assistant

    </div>
  </div>
</div>

{% endblock %}