{% extends "base.j2" %}
{% block title %}Welcome to &lt;e&gt;Note{% endblock %}
{% block form %}
<link rel="stylesheet" href="/static/stylesheets/home.css" />
<div class="welcome_outer">
  <div class="row head-row">
    <div class="left">
      <div class="left-text">
        <div class="welcome_title">
          &lt;e&gt;Note
        </div>

        <div class="sub-title">
          It's more than a note, it's a personal diary.
        </div>
        <div class="welcome-button">
          <div class="mt-4 mb-1">
            <a class="btn btn-primary" href="/register">Get Started</a>
          </div>
          <a class="btn ardy_account" href="/login">Login</a>
        </div>
      </div>
    </div>
    <div class="right">
      <img alt="Picture depicting multiple devices with various screen sizes" loading="eager" class="devices-img">
    </div>
  </div>
</div>

<div style="background-color: white;">
  <!-- Section 2 -->
  <div class="default-flex" style="padding-top:50px">
    <div class="flex-container">
      <div class="flex-item-left sec2-left">
        <div class="detail-title">
          Create and customize your note in your style!
        </div>
      </div>
      <div class="flex-item-right sec2-right ">
        <img alt="All apple devices" loading="lazy" class="sec2-img detail-img">
      </div>
    </div>
  </div>

  <!-- Section 3 -->
  <div class="default-flex">
    <div class="flex-container flex-sec3">
      <div class="flex-item-left">
        <img alt="Note Login UI" loading="lazy" class="sec3-img detail-img">
      </div>
      <div class="flex-item-right">
        <div class="detail-title sec3-title">
          Support every device that you have ever imagined.
        </div>
      </div>
    </div>
  </div>

  <!-- Section 4 -->
  <div class="default-flex" style="padding-top:50px">
    <div class="flex-container">
      <div class="flex-item-left sec4-left">
        <div class="detail-title">
          Access from anywhere and on any device.
        </div>
      </div>
      <div class="flex-item-right sec4-right ">
        <img alt="iPhone 14 Pro and iMac" loading="lazy" class="sec4-img detail-img">
      </div>
    </div>
  </div>
</div>


<!--About Us 2-->
<div class="abt-outer">

  <h1 style="margin-bottom: 25px;">About Us</h1>

  <div class="row abt-flex">
    <div class="col-xl-4 col-lg-6 mb-4 abt-child">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <img alt="" loading="lazy" class="abt-userpics id-15" />
            <div class="ms-3">
              <p class="fw-bold mb-1 abt-name abt-txt">Kongphop Sinsung </p>
              <p class="text-muted mb-0 abt-detail abt-txt">Quality Assurance</p>
              <p class="text-muted mb-0 abt-detail abt-txt">65070015</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 mb-4 abt-child">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <img alt="" loading="lazy" class="abt-userpics id-30" />
            <div class="ms-3">
              <p class="fw-bold mb-1 abt-name abt-txt">Jarukrit Sripaploen</p>
              <p class="text-muted mb-0 abt-detail abt-txt">Backend Developer</p>
              <p class="text-muted mb-0 abt-detail abt-txt">65070030</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 mb-4 abt-child">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <img alt="" loading="lazy" class="abt-userpics id-64" />
            <div class="ms-3">
              <p class="fw-bold mb-1 abt-name abt-txt">Napat Wetchapun</p>
              <p class="text-muted mb-0 abt-detail abt-txt">Frontend Designer</p>
              <p class="text-muted mb-0 abt-detail abt-txt">65070064</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 mb-4 abt-child">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <img alt="" loading="lazy" class="abt-userpics id-89" />
            <div class="ms-3">
              <p class="fw-bold mb-1 abt-name abt-txt">Tanakrit Supprasit</p>
              <p class="text-muted mb-0 abt-detail abt-txt">Frontend Developer</p>
              <p class="text-muted mb-0 abt-detail abt-txt">65070089</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}