{% extends "base.html" %}
{% block title %}Welcome to &lt;e&gt;Note{% endblock %}
{% block form %}

<link rel="stylesheet" href="../static/stylesheets/home.css" />
<link rel="stylesheet" href="../static/stylesheets/about.css" />

<div class="w-auto row welcome_outer">
  <div class="column left">
    <div class="welcome_title">
      &lt;e&gt;Note
    </div>

    <div>
      This is our PSCP project!<br />
      It's more than just a note, it's a personal diary.
    </div>

    <div class="welcome-button">
      <form action="/register">
        <input class="btn btn-primary " type="submit" value="Get Started!" />
      </form>
      <form action="/login">
        <input class="btn ardy_account" type="submit" value="Login!" />
      </form>
    </div>
  </div>

  <div class="column right">
    <img class="welcome-img" src="../static/images/home/Phone_Temp.png">
  </div>
</div>


<!-- About Us-->
<div class="about_box" style="margin-top : 100px;">
  <div class="" id="About">
    About us!
  </div>
  <div class="left_module module">
    <div class="left_userpics">
      <img class="userpics" src="https://ejudge.it.kmitl.ac.th/uploads/4637_1660843697_FPIv4Ncl.jpg">
    </div>
    <div class="username left_text">Kongphop Sinsung </div>
    <div class="userid left_text"> 65070015 </div>
    <div class="userdesc left_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
    </div>
  </div>
  <div class="right_module module">
    <div class="right_userpics">
      <img class="userpics" src="https://ejudge.it.kmitl.ac.th/uploads/4501_1660849283_1ZFoyjC2.png">
    </div>
    <div class="username right_text">Jarukrit Sripaploen</div>
    <div class="userid right_text"> 65070030 </div>
    <div class="userdesc  right_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
    </div>
  </div>
  <div class="left_module module">
    <div class="left_userpics">
      <img class="userpics" src="https://ejudge.it.kmitl.ac.th/assets/img/avatar280.png">
    </div>
    <div class="username left_text">Napat Wetchapun</div>
    <div class="userid left_text"> 65070064 </div>
    <div class="userdesc left_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
    </div>
  </div>
  <div class="right_module module">
    <div class="right_userpics">
      <img class="userpics" src="https://ejudge.it.kmitl.ac.th/uploads/4496_1668441688_SCXhCNU2.jpg">
    </div>
    <div class="username right_text">Tanakrit Supprasit</div>
    <div class="userid right_text"> 65070089 </div>
    <div class="userdesc  right_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
    </div>
  </div>
</div>

{% endblock %}