<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - &lt;e&gt;Note</title>
  <script>
    function convert_date(date_in) {
      const date = new Date(date_in.slice(0, date_in.indexOf(".")).replace(/-/g, "/") + ' UTC');
      return date.toLocaleString();
    }
  </script>
  <!--AVIF WebP support detection script-->
  <script src="/static/scripts/avif-webp.min.js"></script>
  <!--CSS for fonts-->
  <link rel="stylesheet" href="/static/stylesheets/fonts.css" />
  <link rel="icon" type="image/x-icon" href="../static/images/logo/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/stylesheets/note.css" />
  {% block head %}{% endblock %}
</head>
<style>
  .body-bg {
    background-image: url("/static/images/login/{{ bg_img }}.jpeg");

      {
        {
        custom_bg|safe
      }
    }
  }

  .webp .body-bg {
    background-image: url("/static/images/login/{{ bg_img }}.webp");

      {
        {
        custom_bg|safe
      }
    }
  }

  .avif .body-bg {
    background-image: url("/static/images/login/{{ bg_img }}.avif");

      {
        {
        custom_bg|safe
      }
    }
  }

  /* retina support */
  @media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .body-bg {
      background-image: url("/static/images/login/{{ bg_img }}@2x.jpeg");

        {
          {
          custom_bg|safe
        }
      }
    }

    .webp .body-bg {
      background-image: url("/static/images/login/{{ bg_img }}@2x.webp");

        {
          {
          custom_bg|safe
        }
      }
    }

    .avif .body-bg {
      background-image: url("/static/images/login/{{ bg_img }}@2x.avif");

        {
          {
          custom_bg|safe
        }
      }
    }
  }
</style>

<body>
  <div class="body-bg"></div>
  <div class="position-relative inner-body">
    <div class="toast-container top-0 end-0 p-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      {% if category == 'success' %}
      <div class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">&lt;e&gt;Note</strong>
          <span class="badge badge-success">Success</span>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
      {% else %}
      {% if category == 'warning' %}
      <div class="toast fade" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
          <strong class="me-auto">&lt;e&gt;Note</strong>
          <span class="badge badge-warning">Warning</span>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
      {% else %}
      {% if category == 'error' %}
      <div class="toast fade" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
          <strong class="me-auto">&lt;e&gt;Note</strong>
          <span class="badge badge-danger">Error</span>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
      {% else %}
      <div class="toast fade" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
        <div class="toast-header">
          <strong class="me-auto">&lt;e&gt;Note</strong>
          <span class="badge badge-secondary">Info</span>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-backgroud blur-effect"
    style="position: fixed; top: 0; width: 100vw; z-index:99;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">&lt;e&gt;Note</a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#About">About</a>
          </li>
          {% endif %}
        </ul>

        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          {% if current_user.is_authenticated %}
          <li class="nav-item text_black">
            <a class="nav-link head-text" href="/user">Profile</a>
          </li>
          <li class="nav-item text_black">
            <a class="nav-link head-text" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item text_black">
            <a class="nav-link head-text" href="/login">Login</a>
          </li>
          <li class="nav-item text_black">
            <a class="nav-link head-text" href="/register">Register</a>
          </li>
          {% endif %}

        </ul>
        <span class="navbar-text">
        </span>
      </div>
    </div>
  </nav>
  <div class="container mb-5 note-container">
    <div class="row">
      {% block row1 %}
      {% endblock %}
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <div class="containter-box" style="text-align: left !important;">
          {% block row2 %}
          {% endblock %}

        </div>
      </div>
    </div>
  </div>
  {% block foot %}{% endblock %}
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
  <!-- MDB form-outline initialization -- DON'T TOUCH THIS -->
  <script>document.querySelectorAll('.form-outline').forEach((formOutline) => {
      new mdb.Input(formOutline).init();
    });
  </script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-mdb-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    const toastElList = [].slice.call(document.querySelectorAll('.toast'))
    const toastList = toastElList.map(function (toastEl) {
      // Creates an array of toasts (it only initializes them)
      return new bootstrap.Toast(toastEl) // No need for options; use the default options
    });
    toastList.forEach(toast => toast.show()); // This show them
  </script>
  <!-- End of form-outline initialization -->
</body>