{% extends "note_base.html" %}
{% block title %}{{ note.title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
{% endblock %}
{% block row1 %}
<div class="col"><div class="containter-box" style="text-align: left !important;">
  <form action="/note" id="note_edit" method="POST">
    <input type="text" name="action" value="update" readonly hidden>
    <input type="number" name="note_id" value="{{ note.id }}" readonly hidden>
    <h3><a href="/note" data-mdb-toggle="tooltip" title="Go back to home"><i class="fa-sharp fa-solid fa-house home-icon"></i></a>&nbsp;&nbsp;Note Editor</h3>
    <div class="form-outline">
      <input type="text" id="typeText" class="form-control" name="title" value="{{ note.title }}"/>
      <label class="form-label" for="typeText">Title</label>
    </div>
    <ul class="list-group list-group-light">
        <li class="list-group-item d-flex justify-content-between align-items-center px-3 py-2 mt-2">
          <div>
            <div class="text-muted">Created: <span id="creation{{ note.id }}"></span><br />Last Edit: <span id="lastedit{{ note.id }}"></span></div>
            <script>
              document.getElementById("creation{{ note.id }}").innerHTML = convert_date("{{ note.creation_date }}");
              document.getElementById("lastedit{{ note.id }}").innerHTML = convert_date("{{ note.last_edit }}");
              </script>
          </div>
        </div>
          
        </li>
      </ul>
</div>
{% endblock %}
{% block row2 %}
<table style="width: 100%;">
  <tr>
    <td style="text-align: left;"><h3>Content</h3></td>
    <td style="text-align: right; font-size: x-large;"><a href="javascript:{}" onclick="document.getElementById('note_edit').submit();" data-mdb-toggle="tooltip" title="Save Changes"><i class="fa-solid fa-floppy-disk"></i></i></a></td>
  </tr>
</table>
  <div class="form-outline">
    <textarea class="form-control" id="noteArea" rows="5" name="content">{{ note.content|safe }}</textarea>
  </div>
</form>
{% endblock %}
{% block foot %}
<script>
  const editor =  new EasyMDE({
    element: document.getElementById('noteArea'),
    initialValue: document.getElementById("noteArea").value,
    renderingConfig: {
        singleLineBreaks: false,
        codeSyntaxHighlighting: true,
    },
    autofocus: true,
    toolbar: ["bold", "italic", "heading", "heading-smaller", "heading-bigger","|", "quote", "link", "image", "|", {
            name: "Table",
            action: EasyMDE.drawTable,
            className: "fa fa-table",
            title: "Table",
        }, "horizontal-rule", "unordered-list", "ordered-list", "|", "undo", "redo", "guide"]
  });
</script>
{% endblock %}