{% extends "note_base.j2" %}
{% block title %}Home &lt;e&gt;Note{% endblock %}
{% set note_count = all_note.count() %}
{% block row1 %}
<div class="col-sm-6 col-md-6">
  <div class="containter-box">
    <h3>Hello, {{ current_user.first_name}}</h3>
    <p>{{ current_user.email}}</p>
    {% if note_count > 1 %}
    <p>You currently have {{ note_count }} notes.</p>
    {% else %}
    {% if note_count == 1 %}
    <p>You currently have 1 note.</p>
    {% else %}
    <p>You don't have any notes... yet</p>
    {% endif %}
    {% endif %}
  </div>
</div>
<div class="col-sm-6 col-md-6">
  <div class="containter-box"">
    <h4>Add Your Note</h4>
    <form action=" /note" method="POST">
    <input type="text" name="action" value="create" hidden />
    <div class="form-outline">
      <input type="text" id="typeText" class="form-control" name="title" />
      <label class="form-label" for="typeText">Title</label>
    </div>
    <br />
    <div class="form-outline">
      <textarea class="form-control" id="noteArea" rows="5" name="content"></textarea>
      <label class="form-label" for="noteArea">Note</label>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
    </form>

  </div>
</div>
{% endblock %}
{% block row2 %}
<h3>My Notes</h3>
{% if note_count < 1 %}
  <p>You don't have any notes. Begin creating one using the field on the right!.</p>
{% else %}
  <ul class="list-group list-group-light">
    {% for note in all_note %}
    <li class="list-group-item d-flex justify-content-between align-items-center px-3 py-2">
      <div>
        <div class="fw-bold"><a href="/note/{{ note.id }}" title="View Content of {{ note.title }}">{{ note.title }}</a></div>
        <div class="text-muted">Created: <span id="creation{{ note.id }}"></span> Last Edit: <span
            id="lastedit{{ note.id }}"></span></div>
        <script>
          document.getElementById("creation{{ note.id }}").innerHTML = convert_date("{{ note.creation_date }}");
          document.getElementById("lastedit{{ note.id }}").innerHTML = convert_date("{{ note.last_edit }}");
        </script>
      </div>
      <div class="dropdown">
        <a
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
      <span class="rounded-pill badge-primary dropdown-toggle px-2"></span></a>
        <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink{{ note.id }}">
          <li><a class="dropdown-item" href="/note/{{ note.id }}">View Content</a></li><hr style="margin: 0;">
          <li> <form action="/note/edit" method="POST" id="edit_note_{{ note.id }}"><a class="dropdown-item" href="javascript:{}"
            onclick="document.getElementById('edit_note_{{ note.id }}').submit();">
              <input type="text" name="action" value="edit" readonly hidden>
              <input type="number" name="note_id" value="{{ note.id }}" readonly hidden>
            Edit Content</a>
          </form></li><hr style="margin: 0;">
          <li>
            <a class="dropdown-item text-danger" href="#">
              Delete
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <p class="px-3 pt-3 text-muted">Are you sure? This action cannot be undone!</p>
              </li><hr style="margin: 0;">
              <form action="/note" method="POST" id="delete_note_{{ note.id }}">
                <input type="text" name="action" value="delete" readonly hidden>
                <input type="text" name="note_id" value="{{ note.id }}" readonly hidden>
              <li>
                <a class="dropdown-item text-danger" href="javascript:{}" onclick="document.getElementById('delete_note_{{ note.id }}').submit();">Yes</a>
              </li><hr style="margin: 0;">
            </form>
              <li>
                <a class="dropdown-item" href="#">No</a>
              </li>
    
          
            
        
          </ul>
    </div>
        
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
