{% extends "note_base.j2" %}
{% block title %}{{ note.title }}{% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
<script>
  function changeEditor(etype) {
    document.form_edit_note.editor_type.value = etype;
    document.getElementById('edit_note').submit();
  }
</script>
{% endblock %}

{% block row1 %}
<div class="col" style="z-index: 2 !important;">
  <div class="containter-box" style="text-align: left !important; ">
    <h3><a href="/note" data-mdb-toggle="tooltip" title="Go back to home"><i
          class="fa-sharp fa-solid fa-house home-icon"></i></a>&nbsp;&nbsp;{% if note.user_id == current_user.id %}My
      Note{% else %}Shared Note{% endif %}</h3>
    <ul class="list-group list-group-light">
      <li class="list-group-item d-flex justify-content-between align-items-center px-3 py-2">
        <div>
          <div class="fw-bold">{% if note.is_public %}
            <i class="fa-solid fa-globe" data-mdb-toggle="tooltip" title="Shared Note"></i>&nbsp;{% else %}{% endif %}{{
            note.title }}
          </div>
          <div class="text-muted">Created: <span id="creation{{ note.id }}"></span><br />Last Edit: <span
              id="lastedit{{ note.id }}"></span></div>
          <script>
            document.getElementById("creation{{ note.id }}").innerHTML = convert_date("{{ note.creation_date }}");
            document.getElementById("lastedit{{ note.id }}").innerHTML = convert_date("{{ note.last_edit }}");
          </script>
        </div>
        {% if note.user_id == current_user.id %}
        <form action="/note" method="POST" id="delete_note">
          <input type="text" name="action" value="delete" readonly hidden>
          <input type="text" name="note_id" value="{{ note.id }}" readonly hidden>

          <div class="dropdown">
            <a href="#" role="button" id="dropdownMenuLink" data-mdb-toggle="dropdown" aria-expanded="false">
              <span class="badge rounded-pill badge-danger">Delete</span></a>
            <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
              <p class="px-3 pt-3 text-muted">Are you sure? This action cannot be undone!</p>
              <hr style="margin: 0;">
              <li><a class="dropdown-item text-danger" href="javascript:{}"
                  onclick="document.getElementById('delete_note').submit();">Yes</a></li>
              <hr style="margin: 0;">
              <li><a class="dropdown-item">No</a></li>
            </ul>
          </div>

        </form>
        {% else %}{% endif %}
  </div>

  </li>
  </ul>
</div>
{% endblock %}
{% block row2 %}
<table class="content-head" style="border: 0 !important;">

  <tr style="border: 0 !important;">
    <td style="text-align: left; border: 0 !important;">
      <h3>Content</h3>
    </td>
    <td style="text-align: right; font-size: x-large; border: 0 !important;">
      {% if note.user_id == current_user.id %}
      <form action="/note/edit" method="POST" id="edit_note" name="form_edit_note">
        <input type="number" name="note_id" value="{{ note.id }}" readonly hidden>
        <input type="hidden" name="editor_type" value="" />
        <a href="javascript:{}" onclick="changeEditor('share');" data-mdb-toggle="tooltip" title="Note Sharing">
          <i class="fa-solid fa-share-from-square"></i></a>&nbsp;&nbsp;

        <div class="dropdown" style="display: inline;">
          <a href="#" role="button" id="dropdownMenuLink" data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-pen-to-square" data-mdb-toggle="tooltip" title="Edit Note"></i></a>
          <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
            <p class="px-3 pt-3 text-muted">Editor Type</p>
            <hr style="margin: 0;">
            <li>
              <button type="submit" onclick="changeEditor('full');" class="btn btn-link" role="link"
                data-mdb-ripple-color="light" data-mdb-toggle="tooltip" title="Edit with advanced markdown editor"
                style="width: 100%;">
                Advanced
              </button>
            </li>
            <hr style="margin: 0;">
            <li><button type="submit" onclick="changeEditor('simple');" class="btn btn-link" role="link"
                data-mdb-ripple-color="light" data-mdb-toggle="tooltip" title="Edit with simple plaintext editor"
                style="width: 100%;">
                Simple
              </button></li>
          </ul>
        </div>

      </form>
      {% else %}{% endif %}
    </td>
  </tr>
</table>
<hr />
<div id="rendered_text" class="p-4 rounded bg-white"></div>
<pre id="note_unedited" hidden>{{ note.content|safe }}</pre>
{% endblock %}
{% block foot %}
<script>
  var converter = new showdown.Converter({ tables: true, simpleLineBreaks: true }),
    raw_note = document.getElementById("note_unedited").innerHTML.replace("\n\n-----\n\n", "<hr />").replace(/\n{2,}/g, m => m.replace(/\n/g, "<br/>"));
  raw_note = raw_note.replace(/<br\/>([^<])/g, "<br\/>\n\n$1");
  document.getElementById("rendered_text").innerHTML = converter.makeHtml(raw_note);
</script>
{% endblock %}