{% extends "note_base.html" %}
{% block title %}Home &lt;e&gt;Note{% endblock %}
{% set note_count = all_note.count() %}
{% block row1 %}
<div class="col-sm-6 col-md-6">
  <div class="containter-box">
    <h3>Hello, {{ current_user.first_name}}</h3>
    <p>{{ current_user.email}}</p>
    {% if note_count > 1 %}
    <p>You currently have {{ note_count }} notes.</p>
    {% else %}
    {% if note_count == 1 %}
    <p>You currently have 1 note.</p>
    {% else %}
    <p>You don't have any notes... yet</p>
    {% endif %}
    {% endif %}
  </div>
</div>
<div class="col-sm-6 col-md-6">
  <div class="containter-box"">
    <h4>Add Your Note</h4>
    <form action=" /note" method="POST">
    <input type="text" name="action" value="create" hidden />
    <div class="form-outline">
      <input type="text" id="typeText" class="form-control" name="title" />
      <label class="form-label" for="typeText">Title</label>
    </div>
    <br />
    <div class="form-outline">
      <textarea class="form-control" id="noteArea" rows="5" name="content"></textarea>
      <label class="form-label" for="noteArea">Note</label>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
    </form>

  </div>
</div>
{% endblock %}
{% block row2 %}
<h3>My Notes</h3>
{% if note_count < 1 %}
  <p>You don't have any notes. Begin creating one using the field on the right!.</p>
{% else %}
  <ul class="list-group list-group-light">
    {% for note in all_note %}
    <li class="list-group-item d-flex justify-content-between align-items-center px-3 py-2">
      <div>
        <div class="fw-bold">{{ note.title }}</div>
        <div class="text-muted">Created: <span id="creation{{ note.id }}"></span> Last Edit: <span
            id="lastedit{{ note.id }}"></span></div>
        <script>
          document.getElementById("creation{{ note.id }}").innerHTML = convert_date("{{ note.creation_date }}");
          document.getElementById("lastedit{{ note.id }}").innerHTML = convert_date("{{ note.last_edit }}");
        </script>
      </div>
      <a href="/note/{{ note.id }}" title="View Content of {{ note.title }}">
        <span class="badge rounded-pill badge-primary">View Content</span></a>
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
