{% extends "base.html" %}
{% block title %}{{ note.title }}{% endblock %}
{% block note %}
<script>
  function convert_date(date_in) {
    const date = new Date(date_in.slice(0, date_in.indexOf(".")).replace(/-/g, "/") + ' UTC');
    return date.toLocaleString();}
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/index.min.js"></script>
<script type="text/javascript">
  var md = window.markdownit().use(markdownitFootnote);
  </script>

<div class="gradient-bg">
<div class="container">
    <style>
        .gradient-bg {
            background: rgb(218,238,255);
            background: -moz-linear-gradient(0deg, rgba(218,238,255,1) 0%, rgba(255,160,251,1) 100%);
            background: -webkit-linear-gradient(0deg, rgba(218,238,255,1) 0%, rgba(255,160,251,1) 100%);
            background: linear-gradient(0deg, rgba(218,238,255,1) 0%, rgba(255,160,251,1) 100%);
            height: 100vh;
            z-index: 0;
        }
    .containter-box {
        margin-top: 10px;
        text-align: center !important;
        padding: 15px;
        background-color: white;
        border-radius: 18px;
        opacity: 10;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
        z-index: 1;
      }

    </style>
    <div class="row">
        <div class="col"><div class="containter-box" style="text-align: left !important;">
          <form action="/note" id="note_edit" method="POST">
            <input type="text" name="action" value="update" readonly hidden>
            <input type="number" name="note_id" value="{{ note.id }}" readonly hidden>
            <h3><a href="/note"><i class="fa-sharp fa-solid fa-house home-icon"></i></a>&nbsp;&nbsp;Note Editor</h3>
            <div class="form-outline">
              <input type="text" id="typeText" class="form-control" name="title" value="{{ note.title }}"/>
              <label class="form-label" for="typeText">Title</label>
            </div>
            <ul class="list-group list-group-light">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>
                    <div class="text-muted">Created: <span id="creation{{ note.id }}"></span> Last Edit: <span id="lastedit{{ note.id }}"></span></div>
                    <script>
                      document.getElementById("creation{{ note.id }}").innerHTML = convert_date("{{ note.creation_date }}");
                      document.getElementById("lastedit{{ note.id }}").innerHTML = convert_date("{{ note.last_edit }}");
                      </script>
                  </div>
                </div>
                  
                </li>
              </ul>
        
        </div></div>
        <div class="row">
          <div class="col">
            <div class="containter-box"  style="text-align: left !important;">
              <table style="width: 100%;">
                <tr>
                  <td style="text-align: left;"><h3>Content</h3></td>
                  <td style="text-align: right; font-size: x-large;"><a href="javascript:{}" onclick="document.getElementById('note_edit').submit();"><i class="fa-solid fa-floppy-disk"></i></i></a></td>
                </tr>
              </table>
              <div class="form-outline">
                <textarea class="form-control" id="noteArea" rows="5" name="content">
                
                  {{ note.content }}
                
                </textarea>
                <label class="form-label" for="noteArea">Note</label>
              </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


{% endblock %}
