{% extends "authen.j2" %}
{% block title %}User Info{% endblock %}
{% block form %}
<style>
  td {
    padding-right: 10px;
  }
</style>
<h3>User Profile</h3>
<table style="text-align: left; display: flex; justify-content: center;">
  <tr>
    <td>ID</td>
    <td>{{ user_data[0] }}</td>
  </tr>
  <tr>
    <td>Username</td>
    <td>{{ user_data[1] }}</td>
  </tr>
  <tr>
    <td>First Name</td>
    <td>{{ user_data[2] }}</td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td>{{ user_data[3] }}</td>
  </tr>
  <tr>
    <td>Creation Date (Local Time)</td>
    <td id="timeToLocal"></td>
  </tr>
  <tr>
    <td>Total Notes Created</td>
    <td>{{ user_data[5] }}</td>
  </tr>
  <tr>
    <td>Total Notes Deleted</td>
    <td>{{ user_data[6] }}</td>
  </tr>
</table>
{% endblock %}
{% block form_desc %}
<form action="/user" class="mt-4" id="wipeout" method="POST">
  <input type="text" name="delete" value="Delete Account" hidden>
  <input type="submit" class="btn btn-danger" value="Delete Account" />
</form><br />
<a href="/user/edit" class="blue-text">Edit Your Profile</a><br />
<a href="/user/password" class="blue-text">Change Your Password</a><br />
<a href="/user/pict" class="blue-text">Change Your Profile Picture</a><br />
<hr />
<a href="/logout" class="blue-text">Logout</a><br />
<a href="/logoutall" class="blue-text">Logout of all Session</a>
<script>
  document.querySelector('#wipeout').addEventListener('submit', function (e) {
    let form = this;
    e.preventDefault();
    Swal.fire({
      title: "Are you sure?",
      text: "You will not be able to recover any of your data!",
      icon: "warning",
      customClass: {
        confirmButton: 'btn btn-primary btn-custom-1',
        cancelButton: 'btn btn-danger btn-custom-2'
      },
      buttonsStyling: false,
      showCancelButton: true,
      confirmButtonText: 'Proceed',
      cancelButtonText: 'Cancel',
    }).then((result) => {
      if (result.isConfirmed) {
        form.submit();
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        Swal.fire({
          title: "Cancelled",
          text: "Your notes are safe :)",
          icon: "error",
          customClass: {
            confirmButton: 'btn btn-primary btn-custom-1',
          },
          buttonsStyling: false
        })

      }
    });
  })
</script>
<script>
  var elem = document.getElementById("timeToLocal")
  var date = new Date('{{ user_data[4] }}'.replace(/-/g, "/"));
  elem.innerHTML = date.toString();
</script>
{% endblock %}