{% extends "authen.html" %}
{% block title %}Registration{% endblock %}
{% block form %}
<form action="/register" method="POST">
    <div class="mb-3 ms-4 me-4 align-left form-label">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input type="text" class="form-control" name="firstname" aria-describedby="emailHelp" required />
    </div>
    <div class="mb-3 ms-4 me-4 align-left form-label">
      <label for="exampleInputEmail1" class="form-label">Last Name</label>
      <input type="text" class="form-control" name="lastname" aria-describedby="emailHelp" />
    </div>
    <div class="mb-3 ms-4 me-4 align-left form-label">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" aria-describedby="emailHelp" required />
    </div>

    <div class="mb-3 ms-4 me-4 align-left form-label">
      <label for="exampleInputEmail1" class="form-label">Email Address</label>
      <input type="text" class="form-control" name="email" aria-describedby="emailHelp" required />
    </div>

    <div class="mb-3 ms-4 me-4 align-left form-label">
      <label for="exampleInputEmail1" class="form-label">Password</label>
      <input type="password" class="form-control" name="passwd" aria-describedby="emailHelp" required />
    </div>

    <div class="mb-3 ms-4 me-4 align-left form-label">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" name="passwdconfirmed" required />
    </div>
    <button type="submit" class="btn btn-primary">Create account</button>
  </form>
{% endblock %}
{% block form_desc %}Already have an account? <a href="/login">Log-in here!</a>{% endblock %}