{% extends "authen.j2" %}
{% block title %}User Info{% endblock %}
{% block form %}
<style>
  td {
    padding-right: 10px;
  }
</style>
<h3>Profile Picture Upload</h3>
<div class="my-2 d-flex justify-content-center">
  {% if not current_user.profile_img %}
  <img class="img-thumbnail rounded-circle"
    src="https://ui-avatars.com/api/?name={{current_user.first_name[0]}}+{{current_user.last_name[0]}}&size=256">
  {% else %}
  <a href="/user/pict/view">
    <img class="img-thumbnail rounded-circle" style="width: 50%;"
      src="/static/uploads/profile/t_{{ current_user.profile_img }}">
  </a>
  {% endif %}
</div>
<p>Supported formats included <code>jpeg png tiff webp heic avif</code> with size under 8 MB</p>
<form method=post enctype=multipart/form-data>
  <label class="form-label" for="customFile">Your Picture</label>
  <input type="file" accept=".jpg, .jpeg, .jfif, .png, .heic, .webp, .avif, .tiff, .tif" name=file class="form-control" id="customFile" style="width: 75%; margin:auto;" required />
  <br>
  <input type=submit class="btn btn-primary" name="action" value=Upload />
</form>
<form method=post class="my-2">
  <input type=submit class="btn btn-danger" name="action" value="Delete" />
</form>
{% endblock %}
{% block form_desc %}
{% endblock %}